.home {
  padding-top: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.home button {
  background-color: var(--green-bg);
  color: #ffffff;
  padding: 0.9rem 2rem !important;
  animation: btnScaler 1s ease-in-out infinite;
}

.home__tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: decimal;
}

/* Animation */

@keyframes btnScaler {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
